@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e44ad;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.counter-content {
  text-align: center;
  margin: 30px;
}
.counter {
  font-size: 30px;
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
